annotated-types==0.7.0; python_version >= '3.8'
bcrypt==4.2.1; python_version >= '3.7'
dnspython==2.7.0; python_version >= '3.9'
email-validator==2.2.0; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
passlib[bcrypt]==1.7.4
pydantic[email]==2.10.6; python_version >= '3.8'
pydantic-core==2.27.2; python_version >= '3.8'
pyjwt==2.10.1; python_version >= '3.9'
typing-extensions==4.12.2; python_version >= '3.8'